@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');
@import '../../node_modules/bulma';
@import "~video-react/styles/scss/video-react"; // or import scss
@import "./buscador";

body,html {
  font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 0 !important;
  background: #fafafa;
  height: 100%;
  width: 100%;
}
#chat {
  text-align: right;
  color: white;
  font-weight: 500;
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 2rem;
  background-color:#3f51b5;
  width: 30%;
  z-index: 10;
  box-shadow:0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  border-radius: 10px 0px 0px 0px;
  cursor: pointer;
  div{
    span{
      text-align: right;
      position: relative;
    }
    max-height: 400px;
    .card{
      overflow-x: hidden;
      cursor: auto;
      .content{
        text-align: left;
        font-weight: 400;
        padding: 0.9rem;
      }
    }
}
}
.card {
  z-index: 5;
}
footer {
  height: calc(100vh - 80px);
  height: 80px;
  background:#f2f2f2;
  border-top:1px solid #e4e4e4;
 }
 main{
  min-height: 70vh
 }
 .banner-not-logged{
   display:block;
   margin:0 auto;
 }
 a{
   color:white;
 }
 .colection-links{
   color:rgba(0, 0, 0, 0.54);
   border-bottom: 1px solid rgba(0, 0, 0, 0.54);
   &:hover{
    border-bottom: 1px solid rgba(0, 0, 0, 1);
   }
 }
 .active{
   color:#f50;
   border-bottom: 1px solid #f50;
 }
 .grids-songs{
   display: inline-block;
   margin-right:1rem;
 }

.media-upload{
  .column{
    cursor: pointer;
    svg{
      height: 3rem !important;
      width: 1.75rem !important;
    }
  }
}

.backgroundImage{
  background-size: cover;
  margin-top:0.7rem;
  .columns{
    .flexbox{
      display: flex;
      flex-direction: column;
      align-items: center;
      color: rgba(254, 254, 254, 1) !important;
      text-shadow: 0.5px 0.5px #000000;
    }
  }
}
.seguidores{
  .card-footer{
    .card-footer-item{
      text-align: center;
    }
  }
}

.profile-card{
  height: 100%;
  .like-profile{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,0%);
  }
  .card-content{
    .link-profile{
      .content{
        color:rgba(0, 0, 0, 0.87)
      }
    }
  }
}